<#@ include file="Sequences.ttinclude" #>
<#@ output extension=".cs" #>

namespace UC2OracleDataContext{
	public enum Sequences{
	<#
	var sqs = LoadSequences();
	if(sqs.Count>0){ 
		for(var i=0;i<sqs.Count;i++){
	#>

		<#= sqs[i] #> <#if(i < sqs.Count - 1)
		{#> ,
		<#}#>
	<#
		}
	}
	#>

	}
}